__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
VENV/
.eggs/
*.egg-info/
*.egg
dist/
build/
sdist/
wheels/
*.tar.gz
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
.idea/
*.sublime-project
*.sublime-workspace
.atom/
.ipynb_checkpoints
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
.pytest_cache/
.tox/
.nox/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
docs/_build/
doc/_build/
*.log
*.ini
*.cfg
*.sqlite
*.sqlite3
*.db
local_settings.py
.secrets
*.env
.mypy_cache/
.ruff_cache/
target/
.prof
.prof.*
.pstats

*.stats
*tmp*
__pycache__
outputs
plotting
optimization_results
